<footer style="margin-top: 100px;">
  <div class="section ">
  	<div class="end">
  		<p>Rails<sup>+</sup></p>
  		<p>程序员招聘网专注互联网程序员职业机会</p>
  		<p>© 2016 情非得已(北京)科技有限公司</p>
  	</div>
  	<div class="other">
  		<div class="links">
  			<h3>友情链接</h3>
  			<a href="https://www.xinshengdaxue.com" target="_blank">新生大学</a>
  			<a href="https://fullstack.xinshengdaxue.com" target="_blank">新生大学全栈营</a>
  			<a href="https://fullstack.xinshengdaxue.com/competition_season_1" target="_blank">魔改大赛</a>
  		</div>
  		<div class="contact">
  			<h3>联系方式</h3>
  			<p>微信号：allensns</p>
  		</div>
      <div style="margin-top: 50px;">
      </div>
  	</div>
  </div>
</footer>
